@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');

html {
  font-size: 6vmin;
}

body {
  color: #fff;
  background: linear-gradient(#fef6eb, #ffe7d0);
  background-image: url('background.png');
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  user-select: none;
}

.balloon {
  height: 10vmin;
  width: 8vmin;
  opacity: 0.7;
  border-radius: 75% 75% 70% 70%;
  position: absolute;
  animation: liftBalloon 5s ease-in infinite;
  box-shadow: inset -1vmin -0.5vmin 2vmin rgba(100, 100, 100, 0.3);
}

.balloon:hover {
  cursor: pointer;
}

.balloon:before {
  content: '';
  height: 5vmin;
  width: 0.1vmin;
  padding: 0.1vmin;
  background-color: rgba(100, 100, 100, 0.2);
  display: block;
  position: absolute;
  top: 10vmin;
  left: 0;
  right: 0;
  margin: auto;
}

.balloon:after {
  content: '▲';
  font-size: 1vmin;
  text-align: center;
  display: block;
  position: absolute;
  color: inherit;
  top: 10vmin;
  left: 0;
  right: 0;
  margin: auto;
}

.balloon.green {
  color: #a9e0cb;
  background-color: #a9e0cb;
}

.balloon.yellow {
  color: #ffe7d0;
  background-color: #ffe7d0;
}

.balloon.pink {
  color: #ffcbca;
  background-color: #ffcbca;
}

.balloon.red {
  color: #ffcbca;
  background-color: #ffcbca;
}

.wrapper {
  width: 40vmin;
  height: 40vmin;
  perspective: 120vmin;
}

.box {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-20vmin);
  animation: shake 2.5s cubic-bezier(0.06, 0.97, 1, 0.27) 1s infinite;
}

.box:hover {
  cursor: pointer;
}

.box.clicked {
  animation: none;
}

.box-side,
.box-content {
  position: absolute;
  width: 40vmin;
  height: 40vmin;
  color: #fff;
  background-image: url('wrapping-paper.png');
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box-content .note {
  font-family: 'Caveat', cursive;
  color: rgba(50, 50, 50, 0.8);
  background-color: #f9f9f9;
  font-size: 0.6rem;
  padding: 0.4em;
  transform: rotateZ(2deg);
  box-shadow: 0 0.3vmin 0.7vmin 0 rgba(0, 0, 0, 0.3);
}

.box.clicked .box-content .note {
  animation: liftNote 0.5s ease 1s 1 forwards;
}

.box-side .label {
  font-family: 'Caveat', cursive;
  color: rgba(50, 50, 50, 0.8);
  background-color: #f9f9f9;
  font-size: 0.7rem;
  padding: 0.5em;
  border: 0.2em solid #fcaabb;
  transform: rotateZ(-4deg);
}

.box-side-front {
  transform: rotateY(0deg) translateZ(20vmin);
}

.box.clicked .box-side-front {
  animation: openBox 1.3s ease 0 1 both;
}

.box-side-back {
  transform: rotateY(180deg) translateZ(20vmin);
}

.box-side-top {
  transform: rotateX(90deg) translateZ(20vmin);
  box-shadow: inset 0 0 0 20vmin rgba(100, 100, 100, 0.2);
}

.box-side-bottom {
  transform: rotateX(-90deg) translateZ(20vmin);
  box-shadow: inset 0 0 0 20vmin rgba(100, 100, 100, 0.2);
}

.box-side-left {
  transform: rotateY(-90deg) translateZ(20vmin);
  box-shadow: inset 0 0 0 20vmin rgba(100, 100, 100, 0.2);
}

.box-side-right {
  transform: rotateY(90deg) translateZ(20vmin);
  box-shadow: inset 0 0 0 20vmin rgba(100, 100, 100, 0.2);
}

@keyframes shake {
  0%,
  10% {
    transform: translateX(0) translateZ(-20vmin);
  }
  2%,
  6% {
    transform: translateX(2vmin) translateZ(-20vmin);
  }
  4%,
  8% {
    transform: translateX(-2vmin) translateZ(-20vmin);
  }
}

@keyframes openBox {
  10%,
  40% {
    transform: translateX(-3vmin) rotateZ(5deg) translateZ(40vmin);
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  99% {
    transform: translateX(-50vmin) rotateZ(12deg) translateZ(20vmin);
    width: 40vmin;
    height: 40vmin;
    opacity: 0;
  }

  to {
    transform: translateX(100vmax);
    width: 0;
    height: 0;
    opacity: 0;
  }
}

@keyframes liftNote {
  to {
    transform: rotateZ(-3deg) translateZ(40vmin);
  }
}

@keyframes liftBalloon {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(-300vh);
  }
}
